# Node
node_modules
/data
npm-debug.log
yarn.lock


/prisma/dev.db
*.db
*.db-journal

# Environment & secrets
.env
.env.*
*.key
*.pem

# Local databases (VERY IMPORTANT)
*.db
*.sqlite
*.sqlite3

# Prisma generated client (will be generated inside image)
prisma/dev.db
prisma/*.db

# Git
.git
.gitignore

# OS junk
.DS_Store
Thumbs.db

# Docker
docker-compose.yml
Dockerfile

package-lock.json
entrypoint.sh

